{
  "openapi": "3.1.0",
  "info": {
    "title": "StudyUp API",
    "description": "StudyUp API Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://whitepiano-codeserver.pe.kr",
      "description": "Staging server"
    },
    { "url": "http://localhost:8080", "description": "Local server" }
  ],
  "security": [{ "bearer-key": [] }],
  "tags": [
    { "name": "Chat WebSocket", "description": "채팅 웹소켓 통신 명세" },
    { "name": "Group", "description": "그룹 관련 API" },
    { "name": "Auth", "description": "인증 관련 API" },
    { "name": "Medium", "description": "미디어 관련 API" },
    { "name": "Challenge", "description": "챌린지 관련 API" },
    { "name": "User", "description": "유저 관련 API" }
  ],
  "paths": {
    "/media/upload-url": {
      "post": {
        "tags": ["Medium"],
        "summary": "S3 pre-signed URL 발급",
        "description": "S3 pre-signed URL을 발급합니다.",
        "operationId": "getPreSignedUploadUrl",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUploadUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "post": {
        "tags": ["Group"],
        "summary": "그룹 생성",
        "description": "그룹을 생성합니다.",
        "operationId": "createGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GroupCreationRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/leave": {
      "post": {
        "tags": ["Group"],
        "summary": "그룹 탈퇴",
        "description": "그룹에서 탈퇴합니다.",
        "operationId": "leaveGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SuccessResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/invitations": {
      "post": {
        "tags": ["Group"],
        "summary": "그룹 초대",
        "description": "그룹에 사용자를 초대합니다.",
        "operationId": "inviteUser",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseGroupInvitationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/invitations/{invitationId}/accept": {
      "post": {
        "tags": ["Group"],
        "summary": "그룹 초대 수락",
        "description": "그룹 초대를 수락합니다.",
        "operationId": "acceptInvitation",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInvitationAcceptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseGroupInvitationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/challenges": {
      "get": {
        "tags": ["Group"],
        "summary": "그룹 챌린지 목록 조회",
        "description": "그룹의 챌린지 목록을 조회합니다.",
        "operationId": "getChallenges",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseGroupChallengeListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Group"],
        "summary": "챌린지 생성",
        "description": "챌린지를 생성합니다.",
        "operationId": "createChallenge",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChallengeCreationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseChallengeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/challenges/{challengeId}/tasks/{taskId}/certify": {
      "post": {
        "tags": ["Challenge"],
        "summary": "챌린지 테스크 완료",
        "description": "챌린지의 테스크를 완료합니다.",
        "operationId": "completeTask",
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCertificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTaskResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-in": {
      "post": {
        "tags": ["Auth"],
        "summary": "로그인",
        "description": "사용자 로그인합니다.",
        "operationId": "login",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["GOOGLE"] }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SignInRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Auth"],
        "summary": "토큰 갱신",
        "description": "사용자 토큰을 갱신합니다.",
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RefreshRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": ["User"],
        "summary": "유저 정보 조회",
        "description": "유저 정보를 조회합니다.",
        "operationId": "getUserInfo",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/tasks": {
      "get": {
        "tags": ["User"],
        "summary": "유저의 테스크 목록 조회",
        "description": "유저의 테스크 목록을 조회합니다.",
        "operationId": "getTasks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseUserTaskListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/groups": {
      "get": {
        "tags": ["User"],
        "summary": "유저의 그룹 목록 조회",
        "description": "유저의 그룹 목록을 조회합니다.",
        "operationId": "getGroups",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseGroupListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "tags": ["Group"],
        "summary": "그룹 조회",
        "description": "그룹을 조회합니다.",
        "operationId": "getGroup",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/tasks": {
      "get": {
        "tags": ["Group"],
        "summary": "그룹 테스크 목록 조회",
        "description": "그룹의 테스크 목록을 조회합니다.",
        "operationId": "getTasks_1",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseGroupTaskListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/messages": {
      "get": {
        "tags": ["Group"],
        "summary": "그룹 채팅 메시지 조회",
        "description": "그룹의 채팅 메시지를 페이지네이션하여 조회합니다.",
        "operationId": "getMessages",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseChatMessageListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/invitations/{invitationId}": {
      "get": {
        "tags": ["Group"],
        "summary": "그룹 초대 조회",
        "description": "그룹 초대를 조회합니다.",
        "operationId": "getInvitation",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseGroupInvitationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/docs/chat/subscribe": {
      "get": {
        "tags": ["Chat WebSocket"],
        "summary": "채팅 메시지 수신",
        "description": "구독 주소: /topic/group/{groupId}",
        "operationId": "messageSubscribe",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseChatMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/docs/chat/send": {
      "get": {
        "tags": ["Chat WebSocket"],
        "summary": "채팅 메시지 송신",
        "description": "Websocket End-Point: /app/chat/message",
        "operationId": "messageSend",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/ChatMessageRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SuccessResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/docs/chat/error": {
      "get": {
        "tags": ["Chat WebSocket"],
        "summary": "에러 메시지 수신",
        "description": "구독 주소(유저별): /user/queue/errors, 구독 주소(글로벌): /topic/errors",
        "operationId": "error",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/docs/chat/connection": {
      "get": {
        "tags": ["Chat WebSocket"],
        "summary": "웹소켓 연결 정보",
        "description": "웹소켓 연결 엔드포인트: /ws\nSTOMP 설정:\n- 메시지 발행 prefix: /app\n- 구독 prefix: /topic\n\n연결 예시 (SockJS):\n```javascript\nconst socket = new SockJS('/ws');\nconst stompClient = Stomp.over(socket);\n```\n",
        "operationId": "connection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SuccessResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/challenges/{challengeId}/tasks": {
      "get": {
        "tags": ["Challenge"],
        "summary": "챌린지 테스크 목록 조회",
        "description": "챌린지의 테스크 목록을 조회합니다.",
        "operationId": "getTasks_2",
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseTaskListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/challenges/{challengeId}": {
      "delete": {
        "tags": ["Challenge"],
        "summary": "챌린지 취소",
        "description": "챌린지를 취소합니다.",
        "operationId": "deleteChallenge",
        "parameters": [
          {
            "name": "challengeId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SuccessResponseVoid" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SuccessResponseUploadUrlResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/UploadUrlResponse" }
        }
      },
      "UploadUrlResponse": {
        "type": "object",
        "properties": { "url": { "type": "string", "format": "url" } }
      },
      "GroupCreationRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "thumbnailUrl": { "type": "string" }
        },
        "required": ["description", "name"]
      },
      "GroupResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "thumbnailUrl": { "type": "string" }
        },
        "required": ["description", "name"]
      },
      "SuccessResponseGroupResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/GroupResponse" }
        }
      },
      "SuccessResponseVoid": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "type": "object" }
        }
      },
      "GroupInvitationResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "invitationKey": { "type": "string" },
          "inviterId": { "type": "integer", "format": "int64" },
          "groupId": { "type": "integer", "format": "int64" }
        },
        "required": ["invitationKey"]
      },
      "SuccessResponseGroupInvitationResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/GroupInvitationResponse" }
        }
      },
      "GroupInvitationAcceptRequest": {
        "type": "object",
        "properties": { "invitationKey": { "type": "string" } },
        "required": ["invitationKey"]
      },
      "ChallengeCreationRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "deadline": { "type": "string", "format": "date-time" },
          "description": { "type": "string" },
          "tasks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TaskRequest" }
          }
        },
        "required": ["deadline", "tasks", "title"]
      },
      "TaskRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "deadline": { "type": "string", "format": "date-time" }
        },
        "required": ["deadline", "title"]
      },
      "ChallengeResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "deadline": { "type": "string", "format": "date-time" },
          "description": { "type": "string" }
        },
        "required": ["deadline", "id", "title"]
      },
      "SuccessResponseChallengeResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/ChallengeResponse" }
        }
      },
      "TaskCertificationRequest": {
        "type": "object",
        "properties": {
          "externalLinks": {
            "type": "array",
            "items": { "type": "string", "format": "url" }
          },
          "imageUrls": {
            "type": "array",
            "items": { "type": "string", "format": "url" }
          }
        },
        "required": ["externalLinks", "imageUrls"]
      },
      "SuccessResponseTaskResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/TaskResponse" }
        }
      },
      "TaskCertificationDTO": {
        "type": "object",
        "properties": {
          "externalLinks": {
            "type": "array",
            "items": { "type": "string", "format": "url" }
          },
          "imageUrls": {
            "type": "array",
            "items": { "type": "string", "format": "url" }
          },
          "certificatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["externalLinks", "imageUrls"]
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "deadline": { "type": "string", "format": "date-time" },
          "certification": {
            "$ref": "#/components/schemas/TaskCertificationDTO"
          }
        },
        "required": ["deadline", "id", "title"]
      },
      "SignInRequest": {
        "type": "object",
        "properties": { "idToken": { "type": "string" } },
        "required": ["idToken"]
      },
      "SuccessResponseTokenResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/TokenResponse" }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": { "type": "string" },
          "refreshToken": { "type": "string" }
        },
        "required": ["accessToken", "refreshToken"]
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "accessToken": { "type": "string" },
          "refreshToken": { "type": "string" }
        },
        "required": ["accessToken", "refreshToken"]
      },
      "SuccessResponseUserResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/UserResponse" }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "email": { "type": "string" }
        },
        "required": ["email", "name"]
      },
      "SuccessResponseUserTaskListResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/UserTaskListResponse" }
        }
      },
      "TaskChallengeDTO": {
        "type": "object",
        "properties": {
          "challengeId": { "type": "integer", "format": "int64" },
          "challengeTitle": { "type": "string" },
          "isCompleted": { "type": "boolean" }
        },
        "required": ["challengeId", "challengeTitle", "isCompleted"]
      },
      "TaskGroupDTO": {
        "type": "object",
        "properties": {
          "groupId": { "type": "integer", "format": "int64" },
          "groupName": { "type": "string" },
          "currentlyJoined": { "type": "boolean" }
        },
        "required": ["currentlyJoined", "groupId", "groupName"]
      },
      "UserTaskListItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "deadline": { "type": "string", "format": "date-time" },
          "certification": {
            "$ref": "#/components/schemas/TaskCertificationDTO"
          },
          "challengeDetail": {
            "$ref": "#/components/schemas/TaskChallengeDTO"
          },
          "groupDetail": { "$ref": "#/components/schemas/TaskGroupDTO" }
        },
        "required": [
          "challengeDetail",
          "deadline",
          "groupDetail",
          "id",
          "title"
        ]
      },
      "UserTaskListResponse": {
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UserTaskListItem" }
          }
        },
        "required": ["tasks"]
      },
      "GroupListItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "thumbnailUrl": { "type": "string" },
          "numOfMembers": { "type": "integer", "format": "int32" },
          "lastChatMessage": { "type": "string" }
        },
        "required": ["id", "lastChatMessage", "name", "numOfMembers"]
      },
      "GroupListResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GroupListItem" }
          }
        },
        "required": ["groups"]
      },
      "SuccessResponseGroupListResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/GroupListResponse" }
        }
      },
      "ChallengerDTO": {
        "type": "object",
        "properties": {
          "challengerId": { "type": "integer", "format": "int64" },
          "challengerName": { "type": "string" },
          "currentlyJoined": { "type": "boolean" }
        },
        "required": ["challengerName"]
      },
      "GroupTaskListItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "deadline": { "type": "string", "format": "date-time" },
          "challengeDetail": {
            "$ref": "#/components/schemas/TaskChallengeDTO"
          },
          "challengerDetail": { "$ref": "#/components/schemas/ChallengerDTO" },
          "certification": {
            "$ref": "#/components/schemas/TaskCertificationDTO"
          }
        },
        "required": ["title"]
      },
      "GroupTaskListResponse": {
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GroupTaskListItem" }
          }
        }
      },
      "SuccessResponseGroupTaskListResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/GroupTaskListResponse" }
        }
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": { "type": "integer", "format": "int32", "minimum": 0 },
          "size": { "type": "integer", "format": "int32", "minimum": 1 },
          "sort": { "type": "array", "items": { "type": "string" } }
        }
      },
      "ChatMessageDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "senderId": { "type": "integer", "format": "int64" },
          "senderType": { "type": "string", "enum": ["BOT", "USER"] },
          "content": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        },
        "required": ["content"]
      },
      "ChatMessageListResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ChatMessageDto" }
          },
          "currentPage": { "type": "integer", "format": "int32" },
          "pageCount": { "type": "integer", "format": "int32" },
          "chatMessageCount": { "type": "integer", "format": "int64" }
        }
      },
      "SuccessResponseChatMessageListResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/ChatMessageListResponse" }
        }
      },
      "GroupChallengeListItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "deadline": { "type": "string", "format": "date-time" },
          "description": { "type": "string" },
          "isCompleted": { "type": "boolean" },
          "challengerDetail": { "$ref": "#/components/schemas/ChallengerDTO" },
          "recentCertification": {
            "$ref": "#/components/schemas/TaskCertificationDTO"
          }
        },
        "required": ["title"]
      },
      "GroupChallengeListResponse": {
        "type": "object",
        "properties": {
          "challenges": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GroupChallengeListItem" }
          }
        }
      },
      "SuccessResponseGroupChallengeListResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/GroupChallengeListResponse" }
        }
      },
      "ChatMessageResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "groupId": { "type": "integer", "format": "int64" },
          "senderId": { "type": "integer", "format": "int64" },
          "senderType": { "type": "string", "enum": ["BOT", "USER"] },
          "content": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        },
        "required": ["content"]
      },
      "SuccessResponseChatMessageResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/ChatMessageResponse" }
        }
      },
      "ChatMessageRequest": {
        "type": "object",
        "properties": {
          "groupId": { "type": "integer", "format": "int64" },
          "content": { "type": "string", "maxLength": 1000, "minLength": 1 }
        },
        "required": ["content", "groupId"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" },
          "requestUrl": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "SuccessResponseTaskListResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/TaskListResponse" }
        }
      },
      "TaskListItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "deadline": { "type": "string", "format": "date-time" },
          "certification": {
            "$ref": "#/components/schemas/TaskCertificationDTO"
          }
        },
        "required": ["deadline", "id", "title"]
      },
      "TaskListResponse": {
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TaskListItem" }
          }
        },
        "required": ["tasks"]
      }
    },
    "securitySchemes": {
      "bearer-key": {
        "type": "http",
        "in": "header",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
